<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
    <body>
        
        <ul class="nav nav_bord">
            <li class="nav-item">
              <a class="nav-link active nav_txt" aria-current="page" href="https://localhost:7000/">ЮРГПУ(НПИ)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_txt_2" href="https://localhost:7000/profile">Личный кабинет</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_txt_2" href="https://localhost:7000/order">Заказ справок</a>
            </li>
            <li class="nav-item">
              <img src="img/mail.svg" alt="">
            </li>
            <li class="nav-item">
                <a class="nav-link nav_txt_2" href="https://localhost:7000/">Выйти</a>
              </li>
            </ul>

            <div class="data">
                <div class="name">ФИО<br />Иванов Иван Иванович</div>
            
            <div class="birth">
                Дата рождения
                <br />
                13.10.2003

            </div>
          
            <div class="tel">
                Номер телефона
                <br />
                88001231122
            </div>
           
            <div class="postup">
                Дата устройства на работу
                <br />
                10.11.2017
            </div>
           
            <div class="mail">
                Почта
                <br />
                qwerty@mail.ru
            </div>
            
            <div class="vhod">
                Дата последнего входа
                <br />
                1 декабря 2021 г.
            </div>
            
            <div class="role">
                Роль
                <br />
                Сотрудник
            </div>
        </div>
            <div class="photo">
                <div class="pic"><span class="pic_txt">Фото</span></div>
                <p class="photo_text">Иванов Иван Иванович</p>
            </div>
    </body>